img.img-responsive{width: 100%; height: 13.5em;}
#profile {width: auto; height: 1; border-color: rgb(255, 255, 255); border: solid;}
header {background-color: rgb(83, 186, 237)}
hr.star-light:after {
  background-color: rgb(83, 186, 237);
  color: white;}
section.success {
  background: rgb(83, 186, 237);
  color: white;}


.btn-success{border-color: rgb(83, 186, 237);
            background-color: rgb(83, 186, 237);}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: rgb(73, 176, 227);
  border-color: rgb(66, 169, 221);}

  .btn-success.disabled,
  .btn-success[disabled],
  fieldset[disabled] .btn-success,
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled:active,
  .btn-success[disabled]:active,
  fieldset[disabled] .btn-success:active,
  .btn-success.disabled.active,
  .btn-success[disabled].active,
  fieldset[disabled] .btn-success.active {
    background-color: rgb(73, 176, 227);
    border-color: rgb(66, 169, 221);}
  }
  .btn-success .badge {
    color: rgb(83, 186, 237);
    background-color: white;}
  #git{color: white; text-decoration: underline;}
  #res{color: white; text-decoration: underline;}
  .navbar-custom .navbar-nav li a:hover {
    color: rgb(83, 186, 237);
    outline: none;
  }
  .navbar-custom .navbar-nav li.active a {
    color: white;
    background: rgb(83, 186, 237);}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: rgb(73, 176, 227);}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color:rgb(83, 186, 237);
  color: white;
  border-color: rgb(66, 169, 221);}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(83, 186, 237, 0.9);}

.floating-label-form-group-with-focus label {
  color: rgb(83, 186, 237);
}
strong.green {color: #18BC9C;}

#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

.portfolio-modal .modal-content img {
  width: inherit;
}

/*icons*/
#fold::after {
  content: "\f115";
  font-family: FontAwesome; }

#aster::after {
  content: "\f069";
  font-family: FontAwesome; }

#sword::after {
  content: "\f132";
  font-family: FontAwesome; }

#tet::after {
  content: "\f11b";
  font-family: FontAwesome; }

#abo::after {
  content: "\f128";
  font-family: FontAwesome; }

#turt::after {
  content: "\f1fc";
  font-family: FontAwesome; }

#misc::after {
  content: "\f00a";
  font-family: FontAwesome; }

#click::after {
  content: "\f124";
  font-family: FontAwesome; }

#skull::after {
  content: "\f186";
  font-family: FontAwesome; }

#tree::after {
  content: "\f1bb";
  font-family: FontAwesome; }

#token::after {
  content: "\f111";
  font-family: FontAwesome; }

#bird::after {
  content: "\f0ab";
  font-family: FontAwesome; }

#fight::after {
  content: "\f0c0";
  font-family: FontAwesome; }

#snow::after {
  content: "\f2dc";
  font-family: FontAwesome; }

/*.col-lg-4 {width: 64%;}*/